<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Academy</title>
    <style>
        body {
    margin: 0;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCC;
}

form {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
}

.form_group {
    margin: 10px 0;
}

.label {
    font-size: 18px;
    color: green;
    margin-bottom: 5px;
    display: block;
}

.button:hover {
    background: darkblue;
}

    </style>
</head>
<body>
<div>
    <form method="POST">
        {% csrf_token %}

            {% for i in form %}
            <div class="form_group label">
                {{ i.label_tag }}
                {{ i }}
            </div>
            {% endfor %}

        <div>
            <input class="form_group button" type="submit" value="Зарегистрироватся">
        </div>



    </form>
</div>
</body>
</html>